.form-control {
	width: 50%;
	display: inline-block;
	margin-left: 8px;
}

.partTitle {
	margin-bottom: 60px;
	color: #2bbbad;
	font-weight: bold;
}

.submitBtn {
	margin-top: 35px;
	margin-left: 70px;
}


